applicationPort: 8080
imagePullPolicy: IfNotPresent
releaseNameOverride : chart-wiremock
volumes:
  - name: wiremock-mocks
    configMap:
      name: chart-wiremock-wm
volumeMounts:
  - name: wiremock-mocks
    mountPath: /home/wiremock/mappings
    subPath: mappings
replicas: 1
registerAdditionalDns:
  enabled: false
memoryRequests: '1024Mi'
cpuRequests: '250m'
memoryLimits: '2048Mi'
cpuLimits: '1500m'
devmemoryRequests: '512Mi'
devcpuRequests: '250m'
devmemoryLimits: '1024Mi'
devcpuLimits: '2500m'
readinessPath: '/health/readiness'
readinessDelay: 0
readinessTimeout: 3
readinessPeriod: 15
livenessPath: '/health/liveness'
livenessDelay: 0
livenessTimeout: 3
livenessPeriod: 15
livenessFailureThreshold: 3
startupPath: '/health/liveness'
startupDelay: 10
startupTimeout: 3
startupPeriod: 10
startupFailureThreshold: 20
saEnabled: true
spotInstances:
  enabled: false
useInterpodAntiAffinity: true
ingressClass: traefik
disableTraefikTls: true
# WARNING: ingressSessionAffinity is a temporary option.
# This is subject to removal without notice. Do NOT use for any reason!
ingressSessionAffinity:
  enabled: false
  sessionCookieName: sticky
dnsConfig:
  ndots: "3"
  singleRequestTcp: false
pdb:
  enabled: true
  maxUnavailable: 50%

global:
  enableKeyVaults: false
  devMode: false
  smoketestscron:
    enabled: true
  functionaltestscron:
    enabled: true
prometheus:
  enabled: false
  path: /prometheus

testsConfig:
  memoryRequests: '256Mi'
  cpuRequests: '100m'
  memoryLimits: '2048Mi'
  cpuLimits: '1000m'
  serviceAccountName: tests-service-account
smoketests:
  image: hmctspublic.azurecr.io/spring-boot/template
  enabled: false
functionaltests:
  image: hmctspublic.azurecr.io/spring-boot/template
  enabled: false
smoketestscron:
  image: hmctspublic.azurecr.io/spring-boot/template
  enabled: false
  schedule: "20 0/1 * * *"
functionaltestscron:
  image: hmctspublic.azurecr.io/spring-boot/template
  enabled: false
  schedule: "30 0/6 * * *"

# HPA - example
# autoscaling:
#  enabled: true
#  maxReplicas: 5
#  minReplicas: 2
#  targetCPUUtilizationPercentage: 80

autoscaling:
  enabled: true
  cpu:
    enabled: true
    averageUtilization: 80
  memory:
    enabled: true
    averageUtilization: 80
useWorkloadIdentity: true

initialMappings:
  health-mock.json: |
    {
      "name": "Health Check",
      "request": {
        "method": "GET",
        "url": "/health"
      },
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/vnd.spring-boot.actuator.v3+json",
          "Cache-Control": "no-cache, no-store, max-age=0, must-revalidate",
          "Expires": "0"
        },
        "body": "{\"status\":\"UP\",\"components\":{\"livenessState\":{\"status\":\"UP\"},\"ping\":{\"status\":\"UP\"},\"readinessState\":{\"status\":\"UP\"}},\"groups\":[\"liveness\",\"readiness\"]}"
      }
    }
  liveness-mock.json: |
    {
      "name": "Health Liveness",
      "request": {
        "method": "GET",
        "url": "/health/liveness"
      },
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/vnd.spring-boot.actuator.v3+json"
        },
        "body": "{\"status\":\"UP\"}"
      }
    }
  readiness-mock.json: |
    {
      "name": "Health Readiness",
      "request": {
        "method": "GET",
        "url": "/health/readiness"
      },
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/vnd.spring-boot.actuator.v3+json"
        },
        "body": "{\"status\":\"UP\"}"
      }
    }
